<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Wayne</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="largerimage" src="https://www.cityofwayne.org/ImageRepository/Document?documentId=29354">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">jfirst</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>
    Wayne is a city in Wayne County, Nebraska, United States. The population was 5,660 at the 2010 census.[4] It is the county seat of Wayne County[5] and the home of Wayne State College.
  </p>
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>History</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Wayne was founded in 1881 when the Chicago, St. Paul, Minneapolis & Omaha Railroad was extended to that point.[6][7] It was named for and with Wayne County.[8]</div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Places to Visit</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Fiesta Brava, Sunnyview Park, The Table, Dairy Queen, Udder Delights, Willowbowl @ Wayne State College</div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Fun Facts</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">There is a State College in Wayne, we host Chicken Days, we also host Cruise Night every third Friday of the month during the summer</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>



