<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lincoln</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img
  src="https://www.worldatlas.com/upload/10/55/81/shutterstock-1891650880.jpg">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">lincoln</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>
    Lincoln is the capital city of the U.S. state of Nebraska and the county seat of Lancaster County. The city covers 100.4 square miles (260.035 km2) with a population of 292,657 in 2021. It is Nebraska's second largest city and the 73rd-largest in the United States. Lincoln is the economic and cultural anchor of a substantially larger metropolitan area in southeastern Nebraska, the Lincoln Metropolitan and Lincoln-Beatrice Combined Statistical Areas. The statistical area is home to 361,921 people, making it the 104th-largest combined statistical area in the United States.

Lincoln was founded in 1856 as the village of Lancaster on the wild salt marshes and arroyos of what became Lancaster County. Renamed after President Abraham Lincoln, it became Nebraska's state capital in 1869. The Bertram G. Goodhue–designed state capitol building was completed in 1932, and is the nation's second-tallest capitol. As the city is the seat of government for the state of Nebraska, the state and the U.S. government are major employers. The University of Nebraska was founded in Lincoln in 1869. The university is Nebraska's largest, with 26,079 students enrolled, and the city's third-largest employer. Other primary employers fall into the service and manufacturing industries, including a growing high-tech sector. The region makes up a part of what is known as the greater Midwest Silicon Prairie.

Designated as a "refugee-friendly" city by the U.S. Department of State in the 1970s, the city was the 12th-largest resettlement site per capita in the country by 2000. Refugee Vietnamese, Karen (Burmese ethnic minority), Sudanese and Yazidi (Iraqi ethnic minority) people, as well as refugees from Iraq, the Middle East and Afghanistan, have resettled in the city. During the 2018–19 school year, Lincoln Public Schools provided support for about 3,000 students from 150 countries, who spoke 125 different languages.
  </p>
  <ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>History</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">Before the expansion westward of settlers, the prairie was covered with buffalo grass. 
      Plains Indians, descendants of indigenous peoples who occupied the area for thousands of years, lived in and hunted along Salt 
      Creek. The Pawnee, which included four tribes, lived in villages along the Platte River. The Great Sioux Nation, including the 
      Ihanktowan-Ihanktowana and the Lakota, to the north and west, used Nebraska as a hunting and skirmish ground, but did not have 
      any long-term settlements in the state. An occasional buffalo could still be seen in the plat of Lincoln in the 1860s.
      Lincoln was founded in 1856 as the village of Lancaster and became the county seat of the newly created Lancaster County in 1859. 
      The village was sited on the east bank of Salt Creek. The first settlers were attracted to the area due to the abundance of salt. 
      Once J. Sterling Morton developed his salt mines in Kansas, salt in the village was no longer a viable commodity. Captain W. 
      T. Donovan, a former steamer captain, and his family settled on Salt Creek in 1856. In 1859, the village settlers met to form a 
      county. A caucus was formed and the committee, which included Donovan, selected Lancaster as the county seat. The county was 
      named Lancaster. After the passage of the 1862 Homestead Act, homesteaders began to inhabit the area. The first plat was dated 
      August 6, 1864. By the end of 1868, Lancaster had a population of approximately 500. The township of Lancaster was renamed 
      Lincoln, with the incorporation of the city of Lincoln on April 1, 1869. In 1869, the University of Nebraska was established 
      in Lincoln by the state with a land grant of about 130,000 acres. Construction of University Hall, the first building, began 
      the same year.
</div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Places to Visit</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">A visit to Lincoln isn't complete without a visit to the state capitol. The Lincoln Children's Zoo also warrants a visit with its close encounters with a variety of fascinating animals. </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>Fun Facts</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">1. Lincoln has the best flag <br> 2. City's football team has the longest sellout streak <br> 3. Lincoln is home to the National Roller Skating Museum <br> 4. We have the largest Lincoln Logs structure <br> 5. There are over 136 parks in the city </div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>
